$color-background: #181818;
$color-text: #bfbfbf;
$color-text-highlight: #B3A577;
$color-text-grey: #828282;
$color-sub-highlight: #8f876d;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

:root,
:root.dark {
    --color-background: #181818;
    --color-text: #cccccc;
    --color-text-highlight: #B3A577;
    --color-text-grey: #828282;
    --color-highliight-white: #f0f6fc;
    --color-sub-highlight: #8f876d;

    --color-white: #f0f0f0;
    --color-black: #000;

    --default-font-size: 1.6rem;

    --thumbscroll-thumb: #727172;
    --thumbscroll-hover: #c7c3c7;
    --thumbscroll-track: #2c2c2c;
    
}

// //Light Mode
// $color-background: #EAEBE4;
// $color-text: #444444;
// $color-text-highlight: #675C35;
// $color-text-grey: #828282;
// $color-sub-highlight: #8f876d;

// $color-white: #1a1b1f;
// $color-black: #fff;

// $default-font-size: 1.6rem;


// :root.light {
//     --color-background: #eaebe4;
//     --color-text: #444444;
//     --color-text-highlight: #675c35;
//     --color-text-grey: #828282;
//     --color-sub-highlight: #8f876d;


//     --color-white: #1a1b1f;
//     --color-black: #fff;

//     --default-font-size: 1.6rem;
    
// }