$color-background: #181818;
$color-text: #bfbfbf;
$color-text-highlight: #B3A577;
$color-text-grey: #828282;
$color-sub-highlight: #8f876d;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

:root {
    --color-background: #181818;
    --color-text: #cccccc;
    --color-text-highlight: #B3A577;
    --color-text-grey: #828282;

    --color-white: #fff;
    --color-black: #000;

    --default-font-size: 1.6rem;
    
}